<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>韩大地自助烧烤</title>
	<meta name="description" content="韩大地,自助烧烤">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="/css/zerogrid.css">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/slide.css">
	<link rel="stylesheet" href="/css/menu.css">
	<!-- Custom Fonts -->
	<link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	{{{isAdminEditorCSS user}}}
	<!--[if lt IE 8]>
	<div style=' clear: both; text-align:center; position: relative;'>
		<a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
			<img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
		</a>
	</div>
	<![endif]-->
	<!--[if lt IE 9]>
	<script src="/js/html5.js"></script>
	<script src="/js/css3-mediaqueries.js"></script>
	<![endif]-->

</head>
<body>
<div class="wrap-body">
	<!--///////////////////////////////////////Top-->
	<div class="top">
		<div class="zerogrid">
			<ul class="number f-left">
				<li class="mail"><p>923343669@qq.com</p></li>
				<li class="phone"><p>130 5155 2299</p></li>
			</ul>
			<ul class="top-social f-right">
				<li><a href="#"><i class="fa fa-weibo"></i></a></li>
				{{#if user}}
					<li><a href="/keystone/signout"><i class="fa fa-sign-out"></i></a></li>
				{{else}}
					<li><a href="/keystone/signin"><i class="fa fa-sign-in"></i></a></li>
				{{/if}}
			</ul>
		</div>
	</div>
	<!--////////////////////////////////////Header-->
	<header>
		<div class="zerogrid">
			<center><div class="logo"><img src="/images/logo.png"></div></center>
		</div>
	</header>
	<div class="site-title">
		<div class="zerogrid">
			<div class="row">
				<h2 class="t-center">一流自助烧烤 - 长沙日报</h2>
			</div>
		</div>
	</div>
	<!--//////////////////////////////////////Menu-->
	<a href="#" class="nav-toggle">Toggle Navigation</a>
	<nav class="cmn-tile-nav">
		<ul class="clearfix">
			<!--<li class="colour-1"><a href="index.html">首页</a></li>
			<li class="colour-2"><a href="menu.html">菜单</a></li>
			<li class="colour-3"><a href="location.html">位置</a></li>
			<li class="colour-4"><a href="archive.html">博客</a></li>
			<li class="colour-5"><a href="reservation.html">预订</a></li>
			<li class="colour-6"><a href="staff.html">职员</a></li>
			<li class="colour-7"><a href="news.html">资讯</a></li>
			<li class="colour-8"><a href="gallery.html">美食</a></li>-->
			{{#each navLinks}}
				<li class="colour-{{addOne @index}} {{#ifeq ../section key}}active{{else}}{{/ifeq}}">
					<a href="{{ href }}">{{ label }}</a>
				</li>
			{{/each}}
		</ul>
	</nav>
	<!--
				Flash messages allow you to display once-off status messages to users, e.g. form
				validation errors, success messages, etc
			-->
	{{#if messages}}
		<div id="flash-messages" class="container">
			{{#if messages.info}}
				<div class="alert alert-info">
					{{{flashMessages messages.info}}}
				</div>
			{{/if}}
			{{#if messages.success}}
				<div class="alert alert-success">
					{{{flashMessages messages.success}}}
				</div>
			{{/if}}
			{{#if messages.warning}}
				<div class="alert alert-warning">
					{{{flashMessages messages.warning}}}
				</div>
			{{/if}}
			{{#if messages.error}}
				<div class="alert alert-danger">
					{{{flashMessages messages.error}}}
				</div>
			{{/if}}
		</div>
	{{/if}}
	<!-- The content block should contain the body of your template's content-->
	{{{body}}}
</div>
{{{isAdminEditorJS user}}}
</body></html>
