<section id="container" class="sub-page">
	<div class="wrap-container zerogrid">
		<div class="crumbs">
			<ul>
				<li><a href="/">首页</a></li>
				<li><a href="/contact">留言</a></li>
			</ul>
		</div>
		<div id="main-content">
			<div class="wrap-content">
				<div class="row">
					<div class="col-1-3">
						<div class="wrap-col">
							<h3>完成提交表单</h3>
							<p>非常感谢！</p><br/>
							<h3>电话联系</h3>
							<p>+6221 888 888 90 <br>
								+6221 888 88891</p>
							<p>info@yourdomain.com</p>
						</div>
					</div>
				
					<div class="col-2-3">
						<div class="wrap-col">
							<div class="contact">
								<div id="contact_form">
									{{#if enquirySubmitted}}
										<h3>非常感谢您的联系！</h3>
									{{else}}
									<form name="contact" id="contact" method="post" >
										<input type="hidden" name="action" value="contact">
										<label class="row">
											<div class="col-1-2">
												<div class="wrap-col {{#if validationErrors.name}}has-error{{/if}}">
													<input type="text" name="name" id="name" placeholder="名称" required="required" value="{{formData.[name.full]}}"/>
												</div>
											</div>
											<div class="col-1-2">
												<div class="wrap-col {{#if validationErrors.email}}has-error{{/if}}">
													<input type="email" name="email" id="email" placeholder="邮箱" required="required" value="{{formData.email}}"/>
												</div>
											</div>
										</label>
										<label class="row">
											<div class="col-2-4">
												<div class="wrap-col">
													<input type="number" id="phone" name="phone" placeholder="手机号" required="required"  value="{{formData.phone}}">
												</div>
											</div>
											<div class="col-2-4">
												<div class="wrap-col {{#if validationErrors.enquiryType}}has-error{{/if}}">
													<select name="enquiryType" id="enquiryType" style="display: block;width: 100%;border-radius: 4px;-webkit-border-radius: 4px;-moz-border-radius: 4px;color: #000;border: 1px solid #654e2d;padding: 13px;margin: 5px 0 25px 0;font-size: 16px;max-height: 45px;">
														<option value="">选择联系事项</option>
														{{#each enquiryTypes}}
															<option value="{{value}}">{{label}}</option>
														{{/each}}
													</select>
												</div>
											</div>											
										</label>
										<label class="row">
											<div class="wrap-col {{#if validationErrors.message}}has-error{{/if}} ">
												<textarea name="message" id="message" class="form-control" rows="4" cols="25" required="required"
														  placeholder="给我们留言">{{formData.message}}</textarea>
											</div>
										</label>
										<center><input class="sendButton" type="submit" name="Submit" value="发送"></center>
									</form>
									{{/if}}
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</section>
{{>footer}}
