{{!< default}}
<div class="zerogrid">
	<div class="callbacks_container">
		<ul class="rslides" id="slider4">
			{{# each data.imgs}}
			<li>
				<img src="{{{handleImgShow images.filename}}}" alt="">
				<div class="caption">
					<h2>{{{name}}}</h2></br>
					<p>{{{detail}}} </p>
				</div>
			</li>
			{{/each}}
		</ul>
	</div>
</div>

<!--////////////////////////////////////Container-->
<section id="container" class="index-page">
	<div class="wrap-container zerogrid">
		<!-----------------content-box-1-------------------->
		<section class="content-box box-1">
			<div class="zerogrid">
				<div class="row box-item"><!--Start Box-->
					<h2>韩大地自助烧烤</h2>
					<span>尝百味烧烤，品人生百味。</span>
				</div>
			</div>
		</section>
		<!-----------------content-box-2-------------------->
		<section class="content-box box-2">
			<div class="zerogrid">
				<div class="row wrap-box"><!--Start Box-->
					<div class="header">
						<h2>此味只应天上有，人间能得几回闻。</h2>
						<hr class="line">
						<span>吃喝玩乐不失之雅，色香味形自成一格。</span>
					</div>
					<div class="row">
						{{# each data.latestPosts}}
							<div class="col-1-3" style="height: 400px;">
								<div class="wrap-col">
									<div class="box-item">
										<span class="ribbon">{{{categoryList categories prefix=" "}}}<b></b></span>
										<img src="{{{handleImgShow image.filename}}}" alt="">
										<p>{{{content.brief}}}</p>
										<a href="{{postUrl slug}}" class="button button-1">详情</a>
									</div>
								</div>
							</div>
						{{/each}}
					</div>
				</div>
			</div>
		</section>
	</div>
</section>

<!--////////////////////////////////////Footer-->
{{>footer}}

<script src="/js/jquery-1.11.3.min.js"></script>
<script src="/js/responsiveslides.min.js"></script>
<script>
	$(function () {
		// Slideshow 4
		$("#slider4").responsiveSlides({
			auto: true,
			pager: false,
			nav: false,
			speed: 500,
			namespace: "callbacks",
			before: function () {
				$('.events').append("<li>before event fired.</li>");
			},
			after: function () {
				$('.events').append("<li>after event fired.</li>");
			}
		});
	});
</script>

